/* Global Styles */
:root {
  --primary-color: #cc0000;
  --secondary-color: #006600;
  --text-color: #333;
}

body {
  font-family: Arial, sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

/* Header Styles */
header {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  text-align: center;
}

h1 {
  margin: 0;
}

/* Main Content Styles */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  background-image: url("/images/moritus.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.top-image {
  display: none;
  width: 100%;
  height: auto;
}
.top-image img {
  border-radius: 4px;
  width: 100%;
  height: auto;
  object-fit: contain;
}
.data,
.weather {
  background-color: var(--secondary-color);
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0.5rem;
  text-align: left;
}

.weather-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.weather-icon {
  display: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.weather-icon img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

/* Footer Styles */
footer {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: 0.8rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    background-image: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .top-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
  main {
    grid-template-columns: 1fr;
  }

  .weather-icon {
    display: block;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .weather-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .wind {
    margin-top: 0.5rem;
  }
}
